/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #e3f2fd;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  padding: 10px;
  margin: 10px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(50% - 12px);
}

.button-normal {
  padding: 10px 20px;
  background: #ccff00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.button-normal:hover {
  background: #b1ff5e;
}

.button-delete{
  padding: 10px 20px;
  background: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.button-delete:hover {
  background: #ff3232;
}

